@import '_vaviablesAndMixin';

html {
    body {
        section {
            .container {
                .contactinfo {
                    .containerCep {
                        display: flex;
                        flex-direction: column;
                        align-items: normal;

                        /* ===== Button ============================== */
                        .button {
                            @include fontFamily;
                            font-size: 20px;
                            text-transform: uppercase;
                            letter-spacing: 1.3px;
                            cursor: pointer;
                            position: relative;
                            padding: 10px;
                            margin-top: 5rem;
                            @include btn;

                            &:hover,
                            &:focus {
                                color: $color-and-background;
                                transform: translateY(-6px);
                            }
                        }

                        button::before {
                            content: '';
                            border-radius: 15px;
                            min-width: calc(270px + 12px);
                            min-height: calc(50px + 12px);
                            border: 6px solid $base-border;
                            box-shadow: 0 0 60px $base-bgc-hover;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            transition: all .3s ease-in-out 0s;
                        }

                        button:hover::before,
                        button:focus::before {
                            opacity: 1;
                        }

                        button::after {
                            content: '';
                            width: 30px;
                            height: 30px;
                            border-radius: 100%;
                            border: 6px solid $base-border;
                            position: absolute;
                            z-index: -1;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            animation: ring 1.5s infinite;
                        }

                        button:hover::after,
                        button:focus::after {
                            animation: none;
                            display: none;
                        }

                        @keyframes ring {
                            0% {
                                width: 30px;
                                height: 30px;
                                opacity: 1;
                            }

                            100% {
                                width: 150px;
                                height: 150px;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}