/* ===== Configuration initial ============================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Imports initial ============================== */
@import '_bgc';
@import '_gitCorner';
@import '_button';
@import '_containerForm';
@import '_containerMain';
@import '_cube';
@import '_icon';
@import '_inputCep';
@import '_average';